body 
{
    background: url('imagefondcss.png');
    background-repeat: no-repeat;
    font-family:Impact, 'Arial Narrow Bold', sans-serif 'TrebuchetMs', sans-serif;
    background-attachment: fixed;
    background-size: 100%;
    margin : auto;
}


section h1, section p, footer h1, nav a /* i put a main police for different sections */
{
    font-family:'Dancing Script', cursive;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background-color : #010740;
    background-attachment: fixed;
    padding-bottom : 25px;
    padding-top : 25px;
    height: 10vh;
    display: flex; /* The elements will be flex : inline, and at center of the container */
    align-items: center;
    justify-content : center;
}

/* refer to the search bar */

label {
    display: block;
    font-style: 'Arial',italic, sans-serif;
}

/* refer to the navigation */
.menu
{
    background-color: #0D145B;
    display : flex;
    justify-content: space-around;
}

.logo
{
    max-width: 100%; 
    height: auto; 
}

.logo img
{
    opacity: 1;
    width: 85px;
    height: auto;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 1.3em;
    color:white;
    text-decoration: none;
}

nav a:hover
{
    color: black;
    border-bottom: 3px solid black;
}

/* Banner */

article
{
height : 30vh;
background: url("banniere.jpg");
background-repeat : no-repeat;
opacity : 0,5;
display : flex;
justify-content : space-around;
align-items : center;
margin-top : 10px;
opacity : 0.8;
width : 50%;
margin : auto;
margin-top : 40px;
margin-bottom : 20px;
box-shadow: 10px 10px 10px 5px #1c1a19;
border-radius: 10px;
}

article p, article h2
{
    color : white;
}


.banniere_fond
{
 color : black;
}


section
{
    display : flex;
    flex-direction: column;
    align-items : flex-start;
    justify-content : center;
    margin-top : 4%;
    margin-bottom : 2%;
}

.fiche_produit1, .fiche_produit2, .fiche_produit3
{
    color : black;
    display : flex;
    flex-direction : column;
    padding-bottom : 2%;

}

.contener_nouveaute1
{
    background-color : white;
    margin : 1%;
    display : flex;
    justify-content: space-around;
    align-items : center;
    width : 60%;
    height : 20vh;
    opacity : 0.8;
    padding : 1%;
}

.contener_nouveaute2
{
    background-color : white;
    margin : 1%;
    display : flex;
    justify-content: space-around;
    align-items : center;
    width : 60%;
    height : 20vh;
    opacity : 0.8;
    padding : 1%;
}

.contener_nouveaute3
{
    background-color : white;
    margin : 1%;
    display : flex;
    justify-content: space-around;
    align-items : center;
    width : 60%;
    height : 20vh;
    opacity : 0.8;
     padding : 1%;
}

aside
{   
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    width : 20%;
    display : flex;
    justify-content : center;
    margin-left: 70%;
    position : absolute;
}


aside img
{
    margin-right: 5px;
}


/* Footer */

footer 
{
    background-color : #0D145B;
    border: black;
    background-size:contain;
    color : white;
}

footer p
{
    font-size: 1em;
    color : white;
}

#contener_footer
{
    display : flex;
    flex-direction : row;
    justify-content : space-around;
}

.nousrejoindre
{
    margin-top : 2%;
}

.quisommesnous
{
    margin-top : 2%;
}

.besoindaide
{
    margin-top : 2%;
}

.logo_footer
{
    margin-top : 2%;
}



